body{
    background-color: white;
}

.container{
    margin: 0 auto;
    width: 960px;
    font-size: 100%;
    line-height: 1.5;
}
h1,h2,h3{
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #747474;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

nav{
    margin-top: 40px;
    background-color: #ddd;
}

header{
    background-color: #ddd;
    height: 450px;
    margin-top: 24px;
}

main{
    background-color: #ddd;
    margin-top: 24px;
    height: 550px;
}

footer{
    height: 150px;
    background-color: red;
    margin-top: 24px;
    margin-bottom: 24px;
}

footer h2{
    color: lime;
}

main section{
    height: 200px;
    background-color: #c0c0c0;
    border: 2px solid black;
    margin: 20px;
    width: 400px;
}

h3{
    font-size: 25px;
    font-weight: bolder;

}